#Ignores all files except for text, python and, ansible files

#Files
*
!*.py
!*.txt
!*.yml
!README.md
!.gitignore
!ansible.cfg
!*.j2

#Directories
!m2/
!group_vars/
!outputs/
!host_vars/
!templates/
